<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>確認完了</title>
</head>
<body>

<h1>アンケートの送信が完了しました</h1>
<h3>ご協力ありがとうございました．</h3>

<form action="/" method="get">
  <input type="submit" value="最初に戻る">
</form>
</body>
</html>