<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>アンケートフォーム</title>
</head>
<body>

<h1>アンケートフォーム</h1>

<form action="/confirm" method="post">
  <p>
    <label for="name">お名前</label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="email">メールアドレス</label>
    <input type="email" name="email" id="email">
  </p>
  <p>
    <label>性別</label>
    <label><input type="radio" name="gender" id="man" value="男性" checked>男性</label>
    <label><input type="radio" name="gender" id="man" value="女性">女性</label>
  </p>
  <p>
    <label>好きな色</label>
    <label><input type="checkbox" name="favoColors[]" value="青">青</label>
    <label><input type="checkbox" name="favoColors[]" value="黄">黄</label>
    <label><input type="checkbox" name="favoColors[]" value="赤">赤</label>
  </p>
  <p>
    <label for="item">商品</label>
    <input type="text" name="item" id="item">
  </p>
  <p>
    <label for="price">値段</label>
    <input type="text" name="price" id="price">
  </p>
  <p>
    <label for="freeText">自由記入欄</label>
    <textarea name="freeText" id="freeText" cols="40" rows="3"></textarea>
  </p>
  <p>
    <a href="#">キャンセル</a>
    <input type="submit" value="確認">
  </p>
</form>
</body>
</html>
